@use "../../assets/sass/_variables.scss" as *;

.cardContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-primary;
  border: 2px solid black;
  padding: 12px;
  &__image{
    margin-bottom: 10px;
    &--beer{
      height: 300px;
      padding: 10px;
    }
  }
  &__info{
    width: 320px;
    color: $color-font;
    text-align: center;
    h3{
      font-size: 22px;
      text-decoration: underline overline;
    }
    p{
      font-size: 16px;
    }
    &--numbers{
      margin: 10px 0;
      display: grid;
      grid-template-columns: 35px 35px 35px;
      grid-template-rows: 25px 25px;
      justify-content: center;
      align-items: center;
    }
  }
}