@use "./assets/sass/variables" as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-color: $color-mainBackground;
  .nav{
    display: flex;
    align-items: center;
    height: 120px;
    background-color: $color-primary;
    &__logo{
      color: $color-logo;
      font-size: 48px;
      margin-left: 20px;
    }
  }
  .mainSection{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    &__nav-bar{
      display: flex;
      justify-content: center;
      height: 160px;
      background: $color-primary;
      border-radius: 20px;
      //border: 2px solid white;
      margin: 10px 20px;
    }
    &__main{
      background-color: $color-mainBackground;
      //border: 2px solid white;
      margin: 5px 20px;
    }
  }
}

@media screen and (min-width: 725px){
  .App{
    .mainSection{
      flex-direction: row;
    
      &__nav-bar{
      width: 30%;
      height: 400px;
      }
      &__main{
      width: 70%;
      }
    }
  }
}