@use "./assets/sass/variables" as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  .nav{
    height: 100px;
  }
  .mainSection{
    display: flex;
    flex-direction: column;
    &__nav-bar{
      height: 100px;
      background: $color-navBackground;
    }
    &__main{
      background-color: $color-mainBackground;
    }
  }
}

@media screen and (min-width: 725px){
  .App{
    .mainSection{
      flex-direction: row;
    
      &__nav-bar{
      width: 30%;
      height: auto;
      }
      &__main{
      width: 70%;
      }
    }
  }
}